apiVersion: v1
kind: PersistentVolumeClaim
metadata:
name: chat-history
namespace: user-<USERNAME>
spec:
accessModes:
- ReadWriteOnce
resources:
requests:
storage: 5Gi
storageClassName: standard