apiVersion: v1
kind: ServiceAccount
metadata:
name: user-sa
namespace: user-<USERNAME>
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
name: namespace-admin
namespace: user-<USERNAME>
rules:
- apiGroups: [""]
resources: ["pods","services","configmaps","secrets","persistentvolumeclaims"]
verbs: ["get","list","create","delete","update","patch"]
- apiGroups: ["apps"]
resources: ["deployments","replicasets"]
verbs: ["get","list","create","update","delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
name: bind-namespace-admin
namespace: user-<USERNAME>
subjects:
- kind: ServiceAccount
name: user-sa
namespace: user-<USERNAME>
roleRef:
kind: Role
name: namespace-admin
apiGroup: rbac.authorization.k8s.io